<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="index" controller="PostController"/>
    <route path="show" action="show" controller="PostController" params="id"/>
    <route path="author" action="author" controller="PostController"/>

    <!-- Api Rest -->
    <route path="post" action="postsApi" controller="PostController" params="id,number"/>
</routes>