<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="index" controller="PostController"/>
    <route path="login" action="login" controller="SecurityController"></route>
    <route path="post" action="post" controller="PostController" params="id"/>
<!--
    <route path="show" action="show" controller="PostController" params="id"/>
    <route path="author" action="author" controller="PostController"/>-->


    //Rest API
<route path="posts"  controller="PostController" action="postsApi" params="id,number"/>

</routes>