<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <route path="/" action="index" controller="PostController" />
    <route path="login" action="login" controller="SecurityController"></route>
    <route path="post" action="post" controller="PostController" params="id"/>


    <route path="write" action="create" controller="PostController" />
    <route path="add" action="add" controller="PostController" params="title,content,userId"/>
    <!--<route path="author" action="author" controller="PostController"/>-->

    <route path="posts"  controller="PostController" action="postsApi" params="id,number"/>

</routes>